<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      [articleId]="1"
      photoCover="https://img.freepik.com/free-photo/digital-cloud-data-storage-digital-concept-cloudscape-digital-online-service-global-network-database-backup-computer-infrastructure-technology-solution_90220-1046.jpg?w=740&t=st=1692549781~exp=1692550381~hmac=c504662a7cc2d5dd4b64e754cf9b5343a92a904adc06a2a346b51c9688fb7389"
      cardTitle="What is Lorem Ipsum?"
      cardDescription="Lorem Ipsum is simply dummy text of the printing and typesetting
    industry. Lorem Ipsum has been the industry's standard dummy text ever
    since the 1500s, when an unknown printer took a galley of type and
    scrambled it to make a type specimen book. It has survived not only five
    centuries, but also the leap into electronic typesetting, remaining
    essentially unchanged. It was popularised in the 1960s with the release
    of Letraset sheets containing Lorem Ipsum passages, and more recently
    with desktop publishing software like Aldus PageMaker including versions
    of Lorem Ipsum."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      [articleId]="2"
      photoCover="https://picsum.photos/640/360"
      cardTitle="Where does it come from?"
    ></app-small-card>
    <app-small-card
      [articleId]="3"
      photoCover="https://picsum.photos/200"
      cardTitle="Why do we use it?"
    ></app-small-card>
    <app-small-card
      [articleId]="4"
      photoCover="https://picsum.photos/300"
      cardTitle="Where can I get some?"
    ></app-small-card>
    <app-small-card
      [articleId]="5"
      photoCover="https://picsum.photos/400"
      cardTitle="Lorem Ipsum"
    ></app-small-card>
  </div>
</div>
